---
import "../../../styles/global.css";
import Entry from '../../../components/projects/interactives/Entry.astro';
import Header from '../../../components/projects/interactives/Header.astro';

type Dict = {
    [key: string]: any
}

interface Props{
    headerTitle: string,
    headerIcon: string,
    entries: Dict[],
}

const { headerTitle, headerIcon, entries } = Astro.props;
---

<div>
    <Header title={headerTitle} icon={headerIcon}/>
    <div class="py-4 flex flex-col gap-4 lg:grid lg:grid-cols-3">
        {entries.map((entry, index) => (
            <Entry
                title={entry.title}
                description={entry.description}
                index={index}
                image={entry.image}
                vdo={entry.vdo},
                link={entry.link},
                datetime={entry.datetime},
                tags={entry.tags}
            />
        ))}
    </div>
</div>